/* font we are using font-family: 'Source Sans Pro', sans-serif; */
 img {
    max-width: 50px;
 }

 #weatherBtn {
    display: flex;
    justify-content: center;
 }

:root {
    --foam-white: #fff2c2;
    --golden: goldenrod;
    --gold: #ffd500;
    --dark-blue: #003f88;
    --black: black;
}

body {
background-color: #fff2c2;
}

.button.is-black {
    border: 1px solid goldenrod;
    color: goldenrod;
}

.notification.is-primary {
    background-color: var(--black) ;
    color: var(--golden);
    border-radius: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid goldenrod;
    margin-bottom: auto;
}

strong {
    border-bottom: 1px solid goldenrod;
    margin-bottom: auto;
}

#heroSection {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/beer.jpeg);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Button container */
.box.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: var(--golden);
    font-size: 16px;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    border-radius: 0.5em;
}
/* Button */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    --c: goldenrod;
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 2.4em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

nav ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--c);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

nav ul li:hover {
    color: black;
}

nav ul li:hover span {
    transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
    --n: 1;
}

nav ul li span:nth-child(2) {
    --n: 2;
}

nav ul li span:nth-child(3) {
    --n: 3;
}

nav ul li span:nth-child(4) {
    --n: 4;
}
/* BUTTON ends */


section.hero {
    margin-bottom: 50px;
}

.box {
    width:50%;
}

.testiChild {
    /* width: 50px; */
    height: 240px;
    border: 1px solid black;
    margin-top: 75px;
    margin-bottom: 50px;
    border-radius: .5em;
    
}

.columns.is-12 {
    justify-content: space-evenly;
}

.footer{
    left: 0;
    bottom: 0;
    width: 100vw;
    border-top: 1px solid black;
    background-color: var(--black);
    color: #fff2c2;
}




/* .columns.is-12 {
    justify-content: space-around;
} */

