:root {
    --foam-white: #fff2c2;
    --golden: goldenrod;
    --gold: #ffd500;
    --black: black;
}

img {
    max-width: 50px;
}

h4 {
    font-size: 36px;
    color: var(--golden);
    text-transform: uppercase;
}

.searchForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.searchForm h4,
p {
    text-align: center;
}
.searchForm button {
    text-align: center;
}

#weatherBtn {
    display: flex;
    justify-content: center;
}

#weatherBtn:hover {
    cursor: pointer;
}

body {
    background-color: var(--foam-white);
    font-family: "Source Sans Pro", sans-serif;
}

.custom-btn {
    border: 1px solid var(--golden);
    background-color: black;
    color: var(--golden);
    margin-top: 16px;
}

.custom-btn:hover {
    color: black;
    background-color: var(--golden);
    font-weight: bold;
}

.custom-btn:visited {
    color: black;
    background-color: var(--golden);
    font-weight: bold;
}

.notification.is-primary {
    background-color: var(--black);
    color: var(--golden);
    border-radius: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid var(--golden);
    margin-bottom: auto;
}

.homepage-link {
    text-decoration: none;
    font-size: 24px;
    border-bottom: 1px solid var(--golden);
    margin-bottom: auto;
}

.nav-title {
    cursor: default;
}

.custom-title {
    font-size: 52px;
    font-weight: 500;
}

.custom-background {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: var(--foam-white);
    color: black;
    align-items: center;
}

.error-message {
    font-size: 36px;
    color: var(--gold);
}

.subtitle {
    font-weight: 300;
    font-size: 24px;
}

#heroSection {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../images/beer.jpeg);
    height: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/* Button container */
.box.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: var(--golden);
    font-size: 18px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0.5em;
}

/* changes button and text alignment for smaller screens */
@media screen and (max-width: 722px) {
    .box.container {
        flex-direction: column;
    }
}

.searchBtn:hover {
    cursor: pointer;
}

/* Feature Button */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    color: var(--golden);
    font-size: 16px;
    border: 0.3em solid var(--golden);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 2.4em;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: 0.5s;
    margin: 1em;
}

nav ul li span {
    position: absolute;
    width: 25%;
    height: 100%;
    background-color: var(--golden);
    transform: translateY(150%);
    border-radius: 50%;
    left: calc((var(--n) - 1) * 25%);
    transition: 0.5s;
    transition-delay: calc((var(--n) - 1) * 0.1s);
    z-index: -1;
}

nav ul li:hover {
    color: black;
}

nav ul li:hover span {
    transform: translateY(0) scale(2);
}

nav ul li span:nth-child(1) {
    --n: 1;
}

nav ul li span:nth-child(2) {
    --n: 2;
}

nav ul li span:nth-child(3) {
    --n: 3;
}

nav ul li span:nth-child(4) {
    --n: 4;
}
/* BUTTON ends */

section.hero {
    margin-bottom: 50px;
}

.box {
    width: 50%;
}

.testimChild {
    height: 260px;
    margin-top: 75px;
    margin-bottom: 50px;
    border-radius: 0.5em;
    box-shadow: 0px 8px 10px #777;
}

.custom-results {
    color:  var(--golden);
}

.columns.is-12 {
    justify-content: space-evenly;
}

/* Media query for testimonial cards */
@media screen and (max-width: 810px) {
    .custom-card-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    .custom-card {
        width: 33.33%;
        height: 33.33%;
        flex-wrap: wrap;
    }
}

.custom-review {
    font-size: 16px;
    font-style: italic;
}

.author {
    text-align: right;
    font-weight: bold;
}

.footer {
    left: 0;
    bottom: 0;
    width: 100vw;
    border-top: 1px solid var(--golden);
    background-color: var(--black);
    color: #fff2c2;
}
